/*CSS er for Mobil Først*/
/*For hele forsiden*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    background: #fff;
}

/*Container*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
}

/*Grid*/
.grid {
    display: grid;
    flex-direction: column;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.grid img img {
    display: block;
    width: 100%;
    height: auto;
}

/*Flex*/

/*ikoner-style-size*/

/*Header*/

/*Logo*/

/*Nav*/
nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
}

/*Dropdown Meny Tjenster*/

/*Meny telefon knapp*/

/*Hamburger Meny*/

/*Main*/

/*Hero*/
/*Hero Text*/
/*Hero H1 Tag*/
/*Hero P tag*/

/*Hero Img*/
.hero-img img {
    display: block;
    width: 100%;
    height: auto;
}
/*Hero Bevis badges*/

/*Hero Knapper*/

/*Våre tjenester*/
/*Tjenetser Kortene*/

/*Kort*/

/*Kort Img*/

.kort img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Små Og Større Oppdrag*/

/*Oppdrag For Små Og Større*/

/*Oppdrag Img For Små Og Større*/
.oppdrag-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/*Slik går du videre*/

/*Utvalgte Prosjekter*/

/*Utvalgte Prosjekter Bokser*/
/*Utvalgte Prosjekter Img*/
.prosjekter-bokser section img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/*25Års Erfaring*/

/*Klar For Prat?*/

/*Footer*/

/*Footer Logo*/

/*Footer Badges*/

/*Footer Text*/

/*Media Queries*/

/*Medium Skjerm 768px*/
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 2rem;
    }
}

/*Stor Skjerm 992px*/

/*Extra Stor Skerjm 1200px*/